.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #0085FF;
  color: white;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: #0085FF;
  color: white;
}
